<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team [TEAM NAME] Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<style>
body {
  background-image: url('https://previews.123rf.com/images/moovstock/moovstock1710/moovstock171001261/87827503-deloitte-logo-on-a-glass-against-blurred-crowd-on-the-steet-editorial-3d-rendering.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
</style>



<body>
  <div>
	  <h1 style="background-color:DodgerBlue;">Welcome to  TEAM 1</h1>
      <h1 style="background-color:Tomato;" > WELCOME TO DELOITTE DEVOPS BOOTCAMP </h1>

      <ul>
	      <li> AJIT</li>
  <li>SAAD</li>
  <li>SRINIDHI</li>
  
  <li>SATWIK</li>
  <li>HARSHALI</li>
</ul>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>
